<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>FrontShare | Dashboard &amp; WebApp Template</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/img/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/img/favicons/favicon-16x16.png"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/img/favicons/favicon.ico"
    />
    <link rel="manifest" href="/assets/img/favicons/manifest.json" />
    <meta
      name="msapplication-TileImage"
      content="/assets/img/favicons/mstile-150x150.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script src="/assets/js/config.navbar-vertical.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      href="/assets/lib/perfect-scrollbar/perfect-scrollbar.css"
      rel="stylesheet"
    />
    <link href="/assets/css/theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="./scss/css/style.css" />

    <!-- <link rel="stylesheet" href=""> -->
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <%- include('partials/navbar.ejs') %>

      <div class="row no-gutters">
        <div class="col-lg-8 pr-lg-2 mb-3">
          <div class="h-100 card">
            <div class="card-header">
              <h5 class="mb-0">Billing Details</h5>
              <button class="btn btn-falcon-success btn-sm" type="button">
                <span class="ms-1">Balance: $<%= balance %></span>
              </button>
              <div class="d-flex mt-2">
                <!-- <label class="mr-2 mb-0" for="customSwitch1">Monthly</label> -->
                <div class="custom-control custom-switch">
                  <input
                    class="custom-control-input"
                    id="customSwitch1"
                    type="checkbox"
                    onchange="changePrice()"
                  />
                  <label class="custom-control-label" for="customSwitch1"
                    >Use wallet balance</label
                  >
                </div>
              </div>
            </div>
            <div class="card-body bg-light">
              <form id="paymentForm" method="post">
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="billing"
                    id="paypal"
                    checked
                  />
                  <label class="custom-control-label" for="paypal"
                    ><img
                      class="pull-right"
                      src="../assets/img/icons/icon-paypal-full.png"
                      height="20"
                      alt=""
                    />
                  </label>
                </div>
                <p class="fs--1 mb-4">
                  Pay with PayPal, Apple Pay, PayPal Credit and much more
                </p>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="billing"
                    id="credit-card"
                  />
                  <label class="custom-control-label" for="credit-card"
                    ><span class="d-flex align-items-center"
                      ><span class="fs-1 text-nowrap">Credit Card</span
                      ><img
                        class="d-none d-sm-inline-block ml-2 mt-lg-0"
                        src="../assets/img/icons/icon-payment-methods.png"
                        height="20"
                        alt=""
                    /></span>
                  </label>
                  <button
                    class="btn btn-primary btn-block"
                    id="billing-pay"
                    type="button"
                  >
                    <span class="mr-2"></span>Make Payment
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      document.getElementById("billing-pay").addEventListener("click", (e) => {
        e.preventDefault();
        if (document.getElementsByName("billing")[0].checked) {
          e.target.textContent = "Processing...";
          document.getElementById("paymentForm").action =
            "/pay?pricetogg=" + localStorage.getItem("price");

          document.getElementById("paymentForm").submit();
        } else {
          let price = localStorage.getItem("price");
          console.log("booking");
          e.target.textContent = "Processing...";
          bookplan(price);
        }
      });
    </script>
    <script>
      let price = localStorage.getItem("price");
      console.log(price);
      if(localStorage.getItem("wallet") == 1){
        let check = document.getElementById("customSwitch1");
        check.checked = true;
      }
      function changePrice() {
        let check = document.getElementById("customSwitch1");
        if (!check.checked) {
          let newprice = localStorage.getItem("price") - 0 + <%= balance %>;
          localStorage.setItem("price", newprice);
          localStorage.setItem("wallet", 0);
          console.log(localStorage.getItem("price"));
        } else {
          let newprice = localStorage.getItem("price") - (price > <%= balance %> ? <%= balance %> : price);
          localStorage.setItem("price", newprice);
          localStorage.setItem("wallet", 1);
          console.log(localStorage.getItem("price"));
        }
      }
    </script>
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/lib/@fortawesome/all.min.js"></script>
    <script src="/assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="/assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="/assets/lib/is_js/is.min.js"></script>
    <script src="/assets/lib/lodash/lodash.min.js"></script>
    <script src="/assets/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap"
      rel="stylesheet"
    />
    <script src="/assets/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="/js/stripe.js"></script>
  </body>
</html>
