<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <%- include('partials/head.ejs'); %>
    <!-- ===============================================-->
    <!--                Page Title                      -->
    <!-- ===============================================-->
    <title>FrontShare | Plans</title>
  </head>

  <body>
    <!-- ===============================================-->
    <!--                Main Content                    -->
    <!-- ===============================================-->
    
    <%- include('partials/navbar.ejs') %>
    <main class="main" id="top">
      <%- include('partials/leftsidebar.ejs') %>

      <div class="container" data-layout="container">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-12 text-center mb-4">
                  <div class="fs-1">FrontShare Pricing</div>
                  <h3 class="fs-2 fs-md-3 mt-3">
                    Free plan with all the basic features.
                    <br class="d-none d-md-block" />Pro plan for advanced users.
                  </h3>
                  <div class="d-flex flex-center fs--1">
                    <label class="mr-2 mb-0" for="customSwitch1">Monthly</label>
                    <div class="custom-control custom-switch">
                      <input
                        class="custom-control-input"
                        id="customSwitch1"
                        type="checkbox"
                        onchange="changePrice()"
                      />
                      <label class="custom-control-label" for="customSwitch1"
                        >Yearly</label
                      >
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-8">
                  <div class="row">
                    <div class="col-12 col-md">
                      <div
                        class="border rounded-soft overflow-hidden mb-3 mb-md-0"
                      >
                        <div
                          class="d-flex justify-content-between align-items-center p-4"
                        >
                          <div>
                            <h3
                              class="font-weight-light fs-5 mb-0 text-primary"
                            >
                              Free
                            </h3>
                            <h2 class="font-weight-light mt-0 text-primary">
                              <sup class="fs-1">&dollar;</sup
                              ><span class="fs-3">0</span>
                              <!-- <span class="fs--2 mt-1">/ m</span> -->
                            </h2>
                          </div>
                          <div class="pr-3">
                            <img
                              src="../assets/img/illustrations/paper-plane.svg"
                              width="70"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="p-4 bg-light">
                          <ul class="list-unstyled">
                            <li class="border-bottom py-2">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Free Domain
                            </li>
                            <li class="border-bottom py-2">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              1 Canvas Column
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              Regular Canvas block types
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              Free Analytics
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              15% transaction fees on your sales
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              Unlimited Canvas blocks
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              Calendar Access
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              Workshop Access
                            </li>
                            <!-- <li class="py-2 border-bottom text-300">
                              <span
                                class="fas fa-check"
                                data-fa-transform="shrink-2"
                              ></span>
                              Integrations
                            </li>
                            <li class="py-2 border-bottom text-300">
                              <span
                                class="fas fa-check"
                                data-fa-transform="shrink-2"
                              ></span>
                              Payments
                            </li>
                            <li class="py-2 border-bottom text-300">
                              <span
                                class="fas fa-check"
                                data-fa-transform="shrink-2"
                              ></span>
                              Payments
                            </li>
                            <li class="py-2 text-300">
                              <span
                                class="fas fa-check"
                                data-fa-transform="shrink-2"
                              ></span>
                              Unlimted Tags
                            </li> -->
                          </ul>
                          <button
                            class="btn btn-outline-primary btn-block disabled"
                            type="button"
                          >
                            Active
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md">
                      <div class="border rounded-soft overflow-hidden">
                        <div
                          class="d-flex justify-content-between align-items-center p-4"
                        >
                          <div>
                            <h3
                              class="font-weight-light text-primary fs-5 mb-0"
                            >
                              Pro
                            </h3>
                            <h2 class="font-weight-light text-primary mt-0">
                              <sup class="fs-1">&dollar;</sup
                              ><span class="fs-3" id="priceplan">15</span>
                              <!-- <span class="fs--2 mt-1">lifetime</span> -->
                            </h2>
                          </div>
                          <div class="pr-3">
                            <img
                              src="../assets/img/illustrations/startup.svg"
                              width="70"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="p-4 bg-light">
                          <ul class="list-unstyled">
                            <li class="border-bottom py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Custom Domain
                            </li>
                            <li class="border-bottom py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              ></span>
                              3 canvas columns
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              ></span>
                              Exclusive Canvas Block types
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Advanced Analytics
                            </li>
                            <li class="py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              0% transaction fees on your sales
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Animated Backgrounds
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Animated Themes
                            </li>
                            <li class="py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Unlock all Workshop's content
                            </li>
                            <li class="py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Featured on Home page
                            </li>
                            <li class="py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Verification badge
                            </li>
                            <li class="py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Custom referral Code
                            </li>
                          </ul>
                            <button
                              class="btn btn-primary btn-block"
                              type="button"
                              id="toggleButton"
                            >
                              Select
                            </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="col-lg-12 p-lg-0 mb-3">
              <div class="h-100 card">
                <div class="card-header">
                  <h5 class="mb-0">Billing Details</h5>
                </div>
                <div class="card-body bg-light">
                  <form id="paymentForm" method="post">
                    <div class="custom-control custom-radio">
                      <input
                        class="custom-control-input"
                        type="radio"
                        name="billing"
                        id="paypal"
                        checked
                      />
                      <label class="custom-control-label" for="paypal"
                        ><img
                          class="pull-right"
                          src="../assets/img/icons/icon-paypal-full.png"
                          height="20"
                          alt=""
                        />
                      </label>
                      <p class="fs--1 mb-4">
                        Pay with PayPal
                      </p>
                    </div>
                    <div class="custom-control custom-radio">
                      <input
                        class="custom-control-input"
                        type="radio"
                        name="billing"
                        id="credit-card"
                      />
                      <label class="custom-control-label" for="credit-card"
                        ><span class="d-flex align-items-center"
                          ><span class="fs-1 text-nowrap">Credit Card</span
                          ><img
                            class="d-none d-sm-inline-block ml-2 mt-lg-0"
                            src="../assets/img/icons/icon-payment-methods.png"
                            height="20"
                            alt=""
                        /></span>
                      </label>
                      <p class="fs--1 mb-4">
                        Pay with Stripe
                      </p>
                    </div>
                    <button
                        class="btn btn-primary btn-block m-auto"
                        id="billing-pay"
                        type="button"
                      >
                        <span class="mr-2"></span>Make Payment
                      </button>
                  </form>
                </div>
              </div>
            </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">Frequently asked questions</h5>
            </div>
            <div class="card-body bg-light">
              <div class="row">
                <div class="col-lg-6">
                  <h5 class="fs-0">How does FrontShare's pricing work?</h5>
                  <p class="fs--1">
                    The free version of FrontShare is available for teams of up
                    to 15 people. Our FrontShare Premium plans of 15 or fewer
                    qualify for a small team discount. As your team grows to 20
                    users or more and gets more value out of FrontShare, you'll
                    get closer to our standard monthly price per seat. The price
                    of a paid FrontShare plan is tiered, starting in groups of 5
                    and 10 users, based on the number of people you have in your
                    Team or Organization.
                  </p>
                  <h5 class="fs-0">What forms of payment do you accept?</h5>
                  <p class="fs--1">
                    You can purchase FrontShare with any major credit card. For
                    annual subscriptions, we can issue an invoice payable by
                    bank transfer or check. Please contact us to arrange an
                    invoice purchase. Monthly purchases must be paid for by
                    credit card.
                  </p>
                  <h5 class="fs-0">
                    We need to add more people to our team. How will that be
                    billed?
                  </h5>
                  <p class="fs--1">
                    You can add as many new teammates as you need before
                    changing your subscription. We will subsequently ask you to
                    correct your subscription to cover current usage.
                  </p>
                  <h5 class="fs-0">How secure is FrontShare?</h5>
                  <p class="fs--1 mb-lg-0">
                    Protecting the data you trust to FrontShare is our first
                    priority. FrontShare uses physical, procedural, and
                    technical safeguards to preserve the integrity and security
                    of your information. We regularly back up your data to
                    prevent data loss and aid in recovery. Additionally, we host
                    data in secure SSAE 16 / SOC1 certified data centers,
                    implement firewalls and access restrictions on our servers
                    to better protect your information, and work with
                    third-party security researchers to ensure our practices are
                    secure.
                  </p>
                </div>
                <div class="col-lg-6">
                  <h5 class="fs-0">Will I be charged sales tax?</h5>
                  <p class="fs--1">
                    As of May 2016, state and local sales tax will be applied to
                    fees charged to customers with a billing address in the
                    State of New York.
                  </p>
                  <h5 class="fs-0">Do you offer discounts?</h5>
                  <p class="fs--1">
                    We've built in discounts at each tier for teams smaller than
                    15 members. We also offer two months for free in exchange
                    for an annual subscription.
                  </p>
                  <h5 class="fs-0">Do you offer academic pricing?</h5>
                  <p class="fs--1">
                    We're happy to work with student groups using FrontShare.
                    Contact Us
                  </p>
                  <h5 class="fs-0">
                    Is there an on-premise version of FrontShare?
                  </h5>
                  <p class="fs--1">
                    We are passionate about the web. We don't plan to offer an
                    internally hosted version of FrontShare. We hope you trust
                    us to provide a robust and secure service so you can do the
                    work only your team can do.
                  </p>
                  <h5 class="fs-0">What is your refund policy?</h5>
                  <p class="fs--1 mb-0">
                    We do not offer refunds apart from exceptions listed below.
                    If you cancel your plan before the next renewal cycle, you
                    will retain access to paid features until the end of your
                    subscription period. When your subscription expires, you
                    will lose access to paid features and all data associated
                    with those features. Exceptions to our refund policy:
                    canceling within 48 hours of initial charge will result in a
                    full refund. If you cancel within this timeframe, you will
                    lose access to paid features and associated data immediately
                    upon canceling.
                  </p>
                </div>
              </div>
            </div>
            <div class="card-footer py-3">
              <div class="text-center py-3">
                <h6 class="fs-0 font-weight-normal">Have more questions?</h6>
                <a
                  class="btn btn-falcon-primary btn-sm"
                  href="#"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  >Ask us anything</a
                >
              </div>
              <!-- Question formula down below -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-light">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Ask your question
                      </h5>
                      <button
                        class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span class="font-weight-light" aria-hidden="true"
                          >&times;</span
                        >
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input class="form-control" id="name" type="text" />
                        </div>
                        <div class="form-group">
                          <label for="emailModal">Email</label>
                          <input
                            class="form-control"
                            id="emailModal"
                            type="email"
                          />
                        </div>
                        <div class="form-group">
                          <label for="question">Question</label>
                          <textarea
                            class="form-control"
                            id="question"
                            rows="4"
                          ></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer bg-light rounded">
                      <button
                        class="btn btn-secondary btn-sm"
                        type="button"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      <button class="btn btn-primary btn-sm" type="submit">
                        Send
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('partials/footer.ejs'); %>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <%- include('partials/footer.ejs'); %>

    <script>

      // Toggle button between Select and Selected
      let button = document.getElementById("toggleButton");
      button.innerHTML = "Select";

      button.addEventListener("click", function() {
        button.innerHTML = button.innerHTML === "Select" ? "Selected" : "Select";
        button.style.backgroundColor = button.innerHTML === "Selected" ? "lightgreen" : "";
      });
      
      // Purchase plan function
      document.getElementById("billing-pay").addEventListener("click", (e) => {
        e.preventDefault();
        if (document.getElementsByName("billing")[0].checked) {
          e.target.textContent = "Processing...";
          document.getElementById("paymentForm").action =
            "/pay?pricetogg=" + localStorage.getItem("price");

          document.getElementById("paymentForm").submit();
        } else {
          let price = localStorage.getItem("price");
          console.log("booking");
          e.target.textContent = "Processing...";
          bookplan(price);
        }
      });
      
      // toggle to switch amount from monthly to annual
      localStorage.setItem("price", 15);
      function changePrice() {
        let check = document.getElementById("customSwitch1");
        if (!check.checked) {
          document.getElementById("priceplan").innerHTML = 15;
          localStorage.setItem("price", 15);
        } else {
          document.getElementById("priceplan").innerHTML = 180;
          localStorage.setItem("price", 180);
        }
      }
    </script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/lib/@fortawesome/all.min.js"></script>
    <script src="/assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="/assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="/assets/lib/is_js/is.min.js"></script>
    <script src="/assets/lib/lodash/lodash.min.js"></script>
    <script src="/assets/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap"
      rel="stylesheet"
    />
    <script src="/assets/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="/js/stripe.js"></script>
  </body>
</html>
