<html lang="en" id="html">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/assets/js/config.navbar-vertical.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
    <link
      href="/assets/lib/perfect-scrollbar/perfect-scrollbar.css"
      rel="stylesheet"
    />

    <link href="/assets/css/theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="./scss/css/style.css" />
    <title>Document</title>
  </head>
  <style>
    .nav-item {
      height: 35.19px;
    }
  </style>
  <body>
    <main class="main" id="top">
      <!-- Set .navbar-top-combo class to the navbar top element as describe in step 1 in the responsive behaviours section-->
      <%- include('partials/navbar.ejs') %> <% { %>
      <script>
        var c1 = <%- JSON.stringify(c1elements)  %>;
        var c2 = <%- JSON.stringify(c2elements)  %>;
        var c3 = <%- JSON.stringify(c3elements)  %>;
      </script>
      <% } %>
      <div
        class="container"
        data-layout="container"
        style="max-width: 100% !important"
      >
        <!-- comment -->
        <%- include('partials/leftsidebar.ejs') %>
        <div class="content" style="margin: 0">
          <!-- Set the unique ID to data-move-target attribute which you added in step 2 as describe in step 3 in the responsive behaviours section -->

          <!-- Your page content wil go here-->

          <div style="width: 95%; padding: 1rem; border-radius: 2rem">
            <div class="row profile-area-header">
              <div
                style="display: flex; justify-content: space-around; width: 10%"
              ></div>
            </div>
            <div class="row profile-area" style="margin-bottom: 3rem">
              <div class="col-4 d-flex flex-column align-items-center">
                <div class="row justify-content-center m-2 w-100">
                  <% if(user.photo){ %>
                  <img
                    class="display-image m-auto"
                    src="/img/users/<%= user.photo %>"
                    alt="Mazen EL Kadi"
                    id="userImage"
                  />
                  <% } else { %>
                  <img
                    class="display-image m-auto"
                    src="https://elkadi.ca/wp-content/uploads/2022/05/Screenshot-2022-05-20-145830.png"
                    alt="Mazen EL Kadi"
                    id="userImage"
                  />
                  <% } %>
                </div>
                <div class="row justify-content-center m-2 w-100">
                  <label
                    class="px-1 py-2 profile-photo-button"
                    style="text-align: center"
                  >
                    <input
                      type="file"
                      name="my-photo"
                      id="photo"
                      accept="image/*"
                      style="display: none"
                      onchange="readURL(this)"
                    />Upload</label
                  >
                </div>
                <div class="row justify-content-center m-2 w-100">
                  <button
                    id="delete-btn"
                    class="px-1 py-2 profile-photo-button"
                  >
                    Delete
                  </button>
                </div>
              </div>
              <div class="col-8 d-flex flex-column align-items-center">
                <div class="row justify-content-center m-2 w-100">
                  <input
                    class="nameInput w-100"
                    placeholder="Enter Name"
                    value="<%= user.name %>"
                    id="usernameInput"
                  />
                </div>
                <div class="row justify-content-center m-2 w-100">
                  <textarea
                    class="bioInput w-100"
                    placeholder="Enter your Bio"
                    id="bioInput"
                  >
                  <%= user.bio %></textarea
                  >
                </div>
              </div>
              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%"
                type="submit"
                name="submit"
                id="upload-btn"
              >
                Save
              </button>
            </div>
            <div
              class="kanban-container scrollbar perfect-scrollbar mr-n3"
              data-options='{"suppressScrollY":true,"suppressScrollX":false}'
            >
              <div style="display: flex; justify-content: center">
                <% if(pro == true){ %>
                <div class="kanban-column" style="height: 30rem">
                  <div class="kanban-column-header">
                    <h5 class="text-serif fs-0 mb-0">
                      <!-- Documentation <span class="text-500">(8)</span> -->
                    </h5>
                    <div class="dropdown text-sans-serif btn-reveal-trigger">
                      <button
                        class="btn btn-sm btn-reveal py-0 px-2"
                        type="button"
                        id="kanban-column-0"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <!-- <span class="fas fa-ellipsis-h"></span> -->
                      </button>
                      <div
                        class="dropdown-menu dropdown-menu-right py-0"
                        aria-labelledby="kanban-column-0"
                      >
                        <a class="dropdown-item" href="#!">Add Card</a
                        ><a class="dropdown-item" href="#!">Edit</a
                        ><a class="dropdown-item" href="#!">Copy link</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#!"
                          >Remove</a
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="kanban-items-container scrollbar perfect-scrollbar"
                    style="height: 100%; max-height: 30rem"
                    id="addCards1"
                  >
                    <% for( var c of c1elements) { %> <%- c.htmlContent %> <% }
                    %>
                  </div>
                </div>
                <% } %>
                <div class="kanban-column" style="height: 30rem">
                  <div class="kanban-column-header">
                    <h5 class="text-serif fs-0 mb-0">
                      <!-- Doing <span class="text-500">(4)</span> -->
                    </h5>
                    <div class="dropdown text-sans-serif btn-reveal-trigger">
                      <button
                        class="btn btn-sm btn-reveal py-0 px-2"
                        type="button"
                        id="kanban-column-1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <!-- <span class="fas fa-ellipsis-h"></span> -->
                      </button>
                      <div
                        class="dropdown-menu dropdown-menu-right py-0"
                        aria-labelledby="kanban-column-1"
                      >
                        <a class="dropdown-item" href="#!">Add Card</a
                        ><a class="dropdown-item" href="#!">Edit</a
                        ><a class="dropdown-item" href="#!">Copy link</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#!"
                          >Remove</a
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="kanban-items-container scrollbar perfect-scrollbar"
                    style="height: 100%; max-height: 30rem"
                    id="addCards2"
                  >
                    <% for( var c of c2elements) { %> <%- c.htmlContent %> <% }
                    %>
                  </div>
                </div>
                <% if(pro == true){ %>
                <div class="kanban-column" style="height: 30rem">
                  <div class="kanban-column-header">
                    <h5 class="text-serif fs-0 mb-0">
                      <!-- Review <span class="text-500">(4)</span> -->
                    </h5>
                    <div class="dropdown text-sans-serif btn-reveal-trigger">
                      <button
                        class="btn btn-sm btn-reveal py-0 px-2"
                        type="button"
                        id="kanban-column-2"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <!-- <span class="fas fa-ellipsis-h"></span> -->
                      </button>
                      <div
                        class="dropdown-menu dropdown-menu-right py-0"
                        aria-labelledby="kanban-column-2"
                      >
                        <a class="dropdown-item" href="#!">Add Card</a
                        ><a class="dropdown-item" href="#!">Edit</a
                        ><a class="dropdown-item" href="#!">Copy link</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#!"
                          >Remove</a
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="kanban-items-container scrollbar perfect-scrollbar"
                    style="height: 100%; max-height: 30rem"
                    id="addCards3"
                  >
                    <% for( var c of c3elements) { %> <%- c.htmlContent %> <% }
                    %>
                  </div>
                </div>
                <% } %>
              </div>
              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%; margin-top: 2rem !important"
                type="submit"
                name="submit"
                id="save-cards-btn"
              >
                Save
              </button>
            </div>
            <!-- Social Links -->
            <form
              style="
                width: 100%;
                background-color: #f9fafd;
                padding: 2rem;
                margin: 1rem auto !important;
                border-radius: 2rem;
              "
              id="socialLinkForm"
            >
              <div class="card-header" style="background-color: #f9fafd">
                <h5 class="mb-0">Social Links</h5>
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="instagram"
                  type="text"
                  placeholder="Instagram Link"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="facebook"
                  type="text"
                  placeholder="Facebook Link"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="twitter"
                  type="text"
                  placeholder="Twitter Link"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="tiktok"
                  type="text"
                  placeholder="TikTok Link"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="snapchat"
                  type="text"
                  placeholder="Snapchat Link"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="youtube"
                  type="text"
                  placeholder="Youtube Link"
                />
              </div>
              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%"
                type="submit"
                name="submit"
              >
                Save
              </button>
            </form>
            <form
              style="
                width: 100%;
                background-color: #f9fafd;
                padding: 2rem;
                margin: 1rem auto !important;
                border-radius: 2rem;
              "
              id="customLinkForm"
            >
              <div class="card-header" style="background-color: #f9fafd">
                <h5 class="mb-0">Custom Link</h5>
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="url"
                  type="text"
                  placeholder="Custom Link"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="title"
                  type="text"
                  placeholder="Title"
                />
              </div>
              <textarea
                class="form-control rounded-sm mb-2"
                id="description"
                rows="3"
                placeholder="Description"
              >
              </textarea>
              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%"
                type="submit"
                name="submit"
              >
                Save
              </button>
            </form>
            <form
              style="
                width: 100%;
                background-color: #f9fafd;
                padding: 2rem;
                margin: 1rem auto !important;
                border-radius: 2rem;
              "
              id="customTextForm"
            >
              <div class="card-header">
                <h5 class="mb-0">Custom Text</h5>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1"
                  >Add any custom text you wish to display on your page</label
                >
                <textarea class="form-control" id="customText" rows="5">
                </textarea>
              </div>

              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%"
                type="submit"
                name="submit"
              >
                Save
              </button>
            </form>
            <form
              style="
                width: 100%;
                background-color: #f9fafd;
                padding: 2rem;
                margin: 1rem auto !important;
                border-radius: 2rem;
              "
              id="videoPreviewForm"
            >
              <div class="card-header" style="background-color: #f9fafd">
                <h5 class="mb-0">Video Preview</h5>
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="vidLink"
                  type="text"
                  placeholder="Video Link"
                />
              </div>
              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%"
                type="submit"
                name="submit"
              >
                Save
              </button>
            </form>

            <form
              style="
                width: 100%;
                background-color: #f9fafd;
                padding: 2rem;
                margin: 1rem auto !important;
                border-radius: 2rem;
              "
              id="newsLetterForm"
            >
              <div style="margin: 1rem 1.5rem">
                <h5 class="mb-0">Newsletter</h5>
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="newsLetterTitle"
                  type="text"
                  placeholder="Title"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="btnText"
                  type="text"
                  placeholder="Button Text"
                />
              </div>
              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%"
                type="submit"
                name="submit"
              >
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('partials/rightsidebar.ejs') %>

    <script>
      $(function () {
        $(".generate-qr").click(function () {
          console.log("hiiiii");
          $(".cover").fadeIn("300");
        });
        $(".cover,.close").click(function () {
          $(".cover").fadeOut("300");
        });
        $(".contents").click(function (e) {
          e.stopPropagation();
        });
      });
    </script>
    <script>
      var myInput = document.getElementById("input_1");
      var myText = document.getElementById("textarea_1");

      var myDiv = document.querySelector(".live");
      var myh2 = document.querySelector(".live h2");
      var myp = document.querySelector(".live p");

      // myInput.onkeyup = function () {
      //   "use strict";
      //   myh2.textContent = this.value;
      // };

      // myText.onkeyup = function () {
      //   "use strict";
      //   myp.textContent = this.value;
      // };
    </script>

    <script>
      $(document).ready(function () {
        $(".slider").slick({
          arrows: true,
          dots: false,
          slidesToShow: 6,
          //   autoplay: true,
          speed: 900,
          autoplaySpeed: 700,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 3,
              },
            },
            {
              breakpoint: 550,
              settings: {
                slidesToShow: 2,
              },
            },
          ],
        });
      });
    </script>

    <script>
      const insideAddBlocks1 = document.querySelector("#leftsidebar-toggle");
      const html = document.querySelector("#html");
      insideAddBlocks1.addEventListener("mouseover", (e) => {
        e.preventDefault();
        console.log("bcjbskjbskj");
        html.classList.add("navbar-vertical-collapsed-hover");
      });

      insideAddBlocks1.addEventListener("mouseout", (e) => {
        e.preventDefault();
        html.classList.remove("navbar-vertical-collapsed-hover");
      });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="js/profile.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/lib/@fortawesome/all.min.js"></script>
    <script src="assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="assets/lib/is_js/is.min.js"></script>
    <script src="assets/lib/lodash/lodash.min.js"></script>
    <script src="assets/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap"
      rel="stylesheet"
    />
    <script src="assets/lib/shopify-draggable/draggable.bundle.legacy.js"></script>
    <script src="assets/lib/lightbox2/js/lightbox.min.js"></script>
    <script src="assets/lib/fancybox/jquery.fancybox.min.js"></script>
    <script src="assets/js/theme.js"></script>
  </body>
</html>
