<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
    <link rel="stylesheet" href="./scss/css/style.css" />
    <title>Document</title>
  </head>
  <style>
    .social-form {
      width: 70%;
      background-color: rgb(25, 25, 50);
      margin: 1rem auto;
      padding: 3rem;
      border-radius: 2rem;
    }
    .group {
      width: 100%;
      display: block;
      margin: 0 0 0.5em 0;
    }
    .social-input {
      box-sizing: border-box;
      width: 100%;
      margin: 0.5rem 0;
      padding: 0.5rem;
      border-radius: 1rem;
      border: none;
      font-size: inherit;
      font-family: inherit;
    }
    .cover {
      background: rgba(0, 0, 0, 0);
      position: fixed;
      width: 100%;
      height: 100%;
      display: none;
      left: 0;
      z-index: 2;
    }
    .contents {
      width: 333px;
      height: 380px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #f1f1f1;
      margin: 30px auto;
      border: 2px solid #ccc;
      border-radius: 30px;
      position: relative;
      text-align: center;
    }
    .close {
      border: 2px solid #ccc;
      border-radius: 15px;
      padding: 5px 15px;
      position: absolute;
      bottom: 15px;
      text-align: center;
      left: 30%;
      width: 100px;
      box-shadow: inset 0px 0px 10px 5px #ccc;
      cursor: pointer;
    }
  </style>
  <body>
    <main class="main">
      <div
        class="container"
        data-layout="container"
        style="max-width: 100% !important"
      >
        <!-- Set .navbar-top-combo class to the navbar top element as describe in step 1 in the responsive behaviours section-->
        <nav class="navbar navbar-light navbar-vertical navbar-expand-xl navbar-top-combo" id="navbarVerticalCollapse">

          <div class="d-flex align-items-center">
            <a class="navbar-brand" href="#">
              <div class="d-flex align-items-center py-2">
                <img class="me-2" src="/img/FrontShare Logo.png" alt="" width="200px">
              </div>
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <div
              class="navbar-vertical-content scrollbar perfect-scrollbar"
              style="height: 100vh !important"
            >
              <!-- Your navbar vertical content-->
            <ul>
              <li class="nav-item">
                <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                  <div class="col-auto navbar-vertical-label">User</div>
                  <div class="col ps-0">
                    <hr class="mb-0 navbar-vertical-divider">
                  </div>
                </div>
                <a class="nav-link dropdown-indicator collapsed" href="#" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="utilities">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><svg class="svg-inline--fa fa-envelope-open fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V200.724a48 48 0 0 1 18.387-37.776c24.913-19.529 45.501-35.365 164.2-121.511C199.412 29.17 232.797-.347 256 .003c23.198-.354 56.596 29.172 73.413 41.433 118.687 86.137 139.303 101.995 164.2 121.512A48 48 0 0 1 512 200.724V464zm-65.666-196.605c-2.563-3.728-7.7-4.595-11.339-1.907-22.845 16.873-55.462 40.705-105.582 77.079-16.825 12.266-50.21 41.781-73.413 41.43-23.211.344-56.559-29.143-73.413-41.43-50.114-36.37-82.734-60.204-105.582-77.079-3.639-2.688-8.776-1.821-11.339 1.907l-9.072 13.196a7.998 7.998 0 0 0 1.839 10.967c22.887 16.899 55.454 40.69 105.303 76.868 20.274 14.781 56.524 47.813 92.264 47.573 35.724.242 71.961-32.771 92.263-47.573 49.85-36.179 82.418-59.97 105.303-76.868a7.998 7.998 0 0 0 1.839-10.967l-9.071-13.196z"></path></svg><!-- <span class="fas fa-envelope-open"></span> Font Awesome fontawesome.com --></span>
                    <span class="nav-link-text ps-1">Home</span>
                    <span class="badge badge-pill badge-soft-Danger ml-2">New</span>
                  </div>
                </a>
                <a class="nav-link dropdown-indicator collapsed" href="#" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="utilities">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><svg class="svg-inline--fa fa-envelope-open fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V200.724a48 48 0 0 1 18.387-37.776c24.913-19.529 45.501-35.365 164.2-121.511C199.412 29.17 232.797-.347 256 .003c23.198-.354 56.596 29.172 73.413 41.433 118.687 86.137 139.303 101.995 164.2 121.512A48 48 0 0 1 512 200.724V464zm-65.666-196.605c-2.563-3.728-7.7-4.595-11.339-1.907-22.845 16.873-55.462 40.705-105.582 77.079-16.825 12.266-50.21 41.781-73.413 41.43-23.211.344-56.559-29.143-73.413-41.43-50.114-36.37-82.734-60.204-105.582-77.079-3.639-2.688-8.776-1.821-11.339 1.907l-9.072 13.196a7.998 7.998 0 0 0 1.839 10.967c22.887 16.899 55.454 40.69 105.303 76.868 20.274 14.781 56.524 47.813 92.264 47.573 35.724.242 71.961-32.771 92.263-47.573 49.85-36.179 82.418-59.97 105.303-76.868a7.998 7.998 0 0 0 1.839-10.967l-9.071-13.196z"></path></svg><!-- <span class="fas fa-envelope-open"></span> Font Awesome fontawesome.com --></span>
                    <span class="nav-link-text ps-1">Profile</span>
                  </div>
                </a>
                <a class="nav-link dropdown-indicator collapsed" href="#" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="utilities">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><svg class="svg-inline--fa fa-envelope-open fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V200.724a48 48 0 0 1 18.387-37.776c24.913-19.529 45.501-35.365 164.2-121.511C199.412 29.17 232.797-.347 256 .003c23.198-.354 56.596 29.172 73.413 41.433 118.687 86.137 139.303 101.995 164.2 121.512A48 48 0 0 1 512 200.724V464zm-65.666-196.605c-2.563-3.728-7.7-4.595-11.339-1.907-22.845 16.873-55.462 40.705-105.582 77.079-16.825 12.266-50.21 41.781-73.413 41.43-23.211.344-56.559-29.143-73.413-41.43-50.114-36.37-82.734-60.204-105.582-77.079-3.639-2.688-8.776-1.821-11.339 1.907l-9.072 13.196a7.998 7.998 0 0 0 1.839 10.967c22.887 16.899 55.454 40.69 105.303 76.868 20.274 14.781 56.524 47.813 92.264 47.573 35.724.242 71.961-32.771 92.263-47.573 49.85-36.179 82.418-59.97 105.303-76.868a7.998 7.998 0 0 0 1.839-10.967l-9.071-13.196z"></path></svg><!-- <span class="fas fa-envelope-open"></span> Font Awesome fontawesome.com --></span>
                    <span class="nav-link-text ps-1">Referral</span>
                  </div>
                </a>
                <a class="nav-link dropdown-indicator collapsed" href="#" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="utilities">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><svg class="svg-inline--fa fa-envelope-open fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V200.724a48 48 0 0 1 18.387-37.776c24.913-19.529 45.501-35.365 164.2-121.511C199.412 29.17 232.797-.347 256 .003c23.198-.354 56.596 29.172 73.413 41.433 118.687 86.137 139.303 101.995 164.2 121.512A48 48 0 0 1 512 200.724V464zm-65.666-196.605c-2.563-3.728-7.7-4.595-11.339-1.907-22.845 16.873-55.462 40.705-105.582 77.079-16.825 12.266-50.21 41.781-73.413 41.43-23.211.344-56.559-29.143-73.413-41.43-50.114-36.37-82.734-60.204-105.582-77.079-3.639-2.688-8.776-1.821-11.339 1.907l-9.072 13.196a7.998 7.998 0 0 0 1.839 10.967c22.887 16.899 55.454 40.69 105.303 76.868 20.274 14.781 56.524 47.813 92.264 47.573 35.724.242 71.961-32.771 92.263-47.573 49.85-36.179 82.418-59.97 105.303-76.868a7.998 7.998 0 0 0 1.839-10.967l-9.071-13.196z"></path></svg><!-- <span class="fas fa-envelope-open"></span> Font Awesome fontawesome.com --></span>
                    <span class="nav-link-text ps-1">Recources</span>
                    <span class="badge badge-pill badge-soft-Warning ml-2">New</span>
                  </div>
                </a>
                <a class="nav-link dropdown-indicator collapsed" href="#" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="utilities">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><svg class="svg-inline--fa fa-envelope-open fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V200.724a48 48 0 0 1 18.387-37.776c24.913-19.529 45.501-35.365 164.2-121.511C199.412 29.17 232.797-.347 256 .003c23.198-.354 56.596 29.172 73.413 41.433 118.687 86.137 139.303 101.995 164.2 121.512A48 48 0 0 1 512 200.724V464zm-65.666-196.605c-2.563-3.728-7.7-4.595-11.339-1.907-22.845 16.873-55.462 40.705-105.582 77.079-16.825 12.266-50.21 41.781-73.413 41.43-23.211.344-56.559-29.143-73.413-41.43-50.114-36.37-82.734-60.204-105.582-77.079-3.639-2.688-8.776-1.821-11.339 1.907l-9.072 13.196a7.998 7.998 0 0 0 1.839 10.967c22.887 16.899 55.454 40.69 105.303 76.868 20.274 14.781 56.524 47.813 92.264 47.573 35.724.242 71.961-32.771 92.263-47.573 49.85-36.179 82.418-59.97 105.303-76.868a7.998 7.998 0 0 0 1.839-10.967l-9.071-13.196z"></path></svg><!-- <span class="fas fa-envelope-open"></span> Font Awesome fontawesome.com --></span>
                    <span class="nav-link-text ps-1">Analytics</span>
                  </div>
                </a>
                <a class="nav-link dropdown-indicator collapsed" href="#" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="utilities">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><svg class="svg-inline--fa fa-envelope-open fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V200.724a48 48 0 0 1 18.387-37.776c24.913-19.529 45.501-35.365 164.2-121.511C199.412 29.17 232.797-.347 256 .003c23.198-.354 56.596 29.172 73.413 41.433 118.687 86.137 139.303 101.995 164.2 121.512A48 48 0 0 1 512 200.724V464zm-65.666-196.605c-2.563-3.728-7.7-4.595-11.339-1.907-22.845 16.873-55.462 40.705-105.582 77.079-16.825 12.266-50.21 41.781-73.413 41.43-23.211.344-56.559-29.143-73.413-41.43-50.114-36.37-82.734-60.204-105.582-77.079-3.639-2.688-8.776-1.821-11.339 1.907l-9.072 13.196a7.998 7.998 0 0 0 1.839 10.967c22.887 16.899 55.454 40.69 105.303 76.868 20.274 14.781 56.524 47.813 92.264 47.573 35.724.242 71.961-32.771 92.263-47.573 49.85-36.179 82.418-59.97 105.303-76.868a7.998 7.998 0 0 0 1.839-10.967l-9.071-13.196z"></path></svg><!-- <span class="fas fa-envelope-open"></span> Font Awesome fontawesome.com --></span>
                    <span class="nav-link-text ps-1">Calendar</span>
                    <span class="badge badge-pill badge-soft-Success ml-2">New</span>
                  </div>
                </a>
                <a class="nav-link dropdown-indicator collapsed" href="#" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="utilities">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><svg class="svg-inline--fa fa-envelope-open fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V200.724a48 48 0 0 1 18.387-37.776c24.913-19.529 45.501-35.365 164.2-121.511C199.412 29.17 232.797-.347 256 .003c23.198-.354 56.596 29.172 73.413 41.433 118.687 86.137 139.303 101.995 164.2 121.512A48 48 0 0 1 512 200.724V464zm-65.666-196.605c-2.563-3.728-7.7-4.595-11.339-1.907-22.845 16.873-55.462 40.705-105.582 77.079-16.825 12.266-50.21 41.781-73.413 41.43-23.211.344-56.559-29.143-73.413-41.43-50.114-36.37-82.734-60.204-105.582-77.079-3.639-2.688-8.776-1.821-11.339 1.907l-9.072 13.196a7.998 7.998 0 0 0 1.839 10.967c22.887 16.899 55.454 40.69 105.303 76.868 20.274 14.781 56.524 47.813 92.264 47.573 35.724.242 71.961-32.771 92.263-47.573 49.85-36.179 82.418-59.97 105.303-76.868a7.998 7.998 0 0 0 1.839-10.967l-9.071-13.196z"></path></svg><!-- <span class="fas fa-envelope-open"></span> Font Awesome fontawesome.com --></span>
                    <span class="nav-link-text ps-1">Help</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                  <div class="col-auto navbar-vertical-label">Employee</div>
                  <div class="col ps-0">
                    <hr class="mb-0 navbar-vertical-divider">
                  </div>
                </div>
                <a class="nav-link dropdown-indicator collapsed" href="#" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="utilities">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><svg class="svg-inline--fa fa-envelope-open fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V200.724a48 48 0 0 1 18.387-37.776c24.913-19.529 45.501-35.365 164.2-121.511C199.412 29.17 232.797-.347 256 .003c23.198-.354 56.596 29.172 73.413 41.433 118.687 86.137 139.303 101.995 164.2 121.512A48 48 0 0 1 512 200.724V464zm-65.666-196.605c-2.563-3.728-7.7-4.595-11.339-1.907-22.845 16.873-55.462 40.705-105.582 77.079-16.825 12.266-50.21 41.781-73.413 41.43-23.211.344-56.559-29.143-73.413-41.43-50.114-36.37-82.734-60.204-105.582-77.079-3.639-2.688-8.776-1.821-11.339 1.907l-9.072 13.196a7.998 7.998 0 0 0 1.839 10.967c22.887 16.899 55.454 40.69 105.303 76.868 20.274 14.781 56.524 47.813 92.264 47.573 35.724.242 71.961-32.771 92.263-47.573 49.85-36.179 82.418-59.97 105.303-76.868a7.998 7.998 0 0 0 1.839-10.967l-9.071-13.196z"></path></svg><!-- <span class="fas fa-envelope-open"></span> Font Awesome fontawesome.com --></span>
                    <span class="nav-link-text ps-1">Support Desk</span>
                    <span class="badge badge-pill badge-soft-Info ml-2">New</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                  <div class="col-auto navbar-vertical-label">Admin</div>
                  <div class="col ps-0">
                    <hr class="mb-0 navbar-vertical-divider">
                  </div>
                </div>
                <a class="nav-link dropdown-indicator collapsed" href="#" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="utilities">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><svg class="svg-inline--fa fa-envelope-open fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V200.724a48 48 0 0 1 18.387-37.776c24.913-19.529 45.501-35.365 164.2-121.511C199.412 29.17 232.797-.347 256 .003c23.198-.354 56.596 29.172 73.413 41.433 118.687 86.137 139.303 101.995 164.2 121.512A48 48 0 0 1 512 200.724V464zm-65.666-196.605c-2.563-3.728-7.7-4.595-11.339-1.907-22.845 16.873-55.462 40.705-105.582 77.079-16.825 12.266-50.21 41.781-73.413 41.43-23.211.344-56.559-29.143-73.413-41.43-50.114-36.37-82.734-60.204-105.582-77.079-3.639-2.688-8.776-1.821-11.339 1.907l-9.072 13.196a7.998 7.998 0 0 0 1.839 10.967c22.887 16.899 55.454 40.69 105.303 76.868 20.274 14.781 56.524 47.813 92.264 47.573 35.724.242 71.961-32.771 92.263-47.573 49.85-36.179 82.418-59.97 105.303-76.868a7.998 7.998 0 0 0 1.839-10.967l-9.071-13.196z"></path></svg><!-- <span class="fas fa-envelope-open"></span> Font Awesome fontawesome.com --></span>
                    <span class="nav-link-text ps-1">Dashboard</span>
                  </div>
                </a>
                <a class="nav-link dropdown-indicator collapsed" href="#" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="utilities">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><svg class="svg-inline--fa fa-envelope-open fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V200.724a48 48 0 0 1 18.387-37.776c24.913-19.529 45.501-35.365 164.2-121.511C199.412 29.17 232.797-.347 256 .003c23.198-.354 56.596 29.172 73.413 41.433 118.687 86.137 139.303 101.995 164.2 121.512A48 48 0 0 1 512 200.724V464zm-65.666-196.605c-2.563-3.728-7.7-4.595-11.339-1.907-22.845 16.873-55.462 40.705-105.582 77.079-16.825 12.266-50.21 41.781-73.413 41.43-23.211.344-56.559-29.143-73.413-41.43-50.114-36.37-82.734-60.204-105.582-77.079-3.639-2.688-8.776-1.821-11.339 1.907l-9.072 13.196a7.998 7.998 0 0 0 1.839 10.967c22.887 16.899 55.454 40.69 105.303 76.868 20.274 14.781 56.524 47.813 92.264 47.573 35.724.242 71.961-32.771 92.263-47.573 49.85-36.179 82.418-59.97 105.303-76.868a7.998 7.998 0 0 0 1.839-10.967l-9.071-13.196z"></path></svg><!-- <span class="fas fa-envelope-open"></span> Font Awesome fontawesome.com --></span>
                    <span class="nav-link-text ps-1">Database</span>
                  </div>
                </a>
              </li>
            </ul>
              <!-- Set a unique ID to the navbar vertical element as describe in step 2 in the responsive behaviours section  -->
              <div class="navbar-nav" id="yourUniqueID">
                <!-- Nav elements-->
              </div>
            </div>
          </div>
        </nav>
        <div class="content">
          <!-- Set the unique ID to data-move-target attribute which you added in step 2 as describe in step 3 in the responsive behaviours section -->
          <nav
            class="navbar navbar-expand-lg navbar-light navbar-glass sticky-kit navbar-top navbar-top-combo"
            data-move-target="#yourUniqueID"
            style="padding: unset !important"
          >
            <!-- Your navbar top content here-->
            <nav class="navbar navbar-expand-lg navbar-light" style="width: 100% !important">
            <div class="search-box">
              <form class="position-relative show" data-bs-toggle="search" data-bs-display="static" aria-expanded="true"><input class="form-control search-input fuzzy-search" type="search" placeholder="Search..." aria-label="Search">
              </form>
            </div>
            <div class="d-flex" style="width: 95%; margin: 1rem auto">
              <div class="input-group" style="width: 55%; margin: 0 1rem">
                <input class="form-control" type="text" aria-label="Text input with button" id="myInput-1" value="localhost:4000/<%=user.profilelink%>"/>
                <div class="input-group-append">
                  <button class="btn btn-primary shadow-none" type="button" onclick="myFunction()">Copy</button>
                  <button class="btn btn-primary shadow-none" style="border-left: 1px solid black" type="button" id="updateLinkButton">Save</button>
                </div>
              </div>
              <div class="input-group" style="width: 30%; margin: 0 1rem">
                <!-- <input
                  class="form-control"
                  type="text"
                  aria-label="Text input with button"
                /> -->
                <!-- <div class="input-group-append">
                  <button class="btn btn-primary shadow-none" type="button">
                    QR
                  </button>
                </div> -->
                <div class="cover">
                  <div class="contents">
                    <h1>QR</h1>
                    <input type="text" spellcheck="false" id="text" value="http://localhost:4000/<%=user.profilelink%>" style="display: none; visibility: hidden"/>
                    <div id="qrcode"></div>
                    <span class="close">Close</span>
                  </div>
                </div>
                <button class="btn btn-primary generate-qr">Generate QR</button>
              </div>
              <a
                href="http://localhost:4000/<%=user.profilelink%>"
                style="width: 15%; margin: 0 1rem"
              >
                <button class="btn btn-primary shadow-none" type="button">
                  Preview
                </button>
              </a>
            </div>
            </nav>
          </nav>

          <!-- Your page content wil go here-->
          
          <div
            style="
              background-color: #bdbcba7a;
              width: 95%;
              padding: 1rem;
              border-radius: 2rem;
              margin: 0 auto;
            "
          >
            <div class="row profile-area-header">
              <div
                style="display: flex; justify-content: space-around; width: 10%"
              >
              </div>
            </div>
            <div class="row profile-area">
              <div class="col-4 d-flex flex-column align-items-center">
                <div class="row justify-content-center m-2 w-100">
                  <% if(user.photo){ %>
                  <img
                    class="display-image m-auto"
                    src="/img/users/<%= user.photo %>"
                    alt="Mazen EL Kadi"
                    id="userImage"
                  />
                  <% } else { %>
                  <img
                    class="display-image m-auto"
                    src="https://elkadi.ca/wp-content/uploads/2022/05/Screenshot-2022-05-20-145830.png"
                    alt="Mazen EL Kadi"
                    id="userImage"
                  />
                  <% } %>
                </div>
                <div class="row justify-content-center m-2 w-100">
                  <label
                    class="px-1 py-2 profile-photo-button"
                    style="text-align: center"
                  >
                    <input
                      type="file"
                      name="my-photo"
                      id="photo"
                      accept="image/*"
                      style="display: none"
                      onchange="readURL(this)"
                    />Upload</label
                  >
                </div>
                <div class="row justify-content-center m-2 w-100">
                  <button
                    id="delete-btn"
                    class="px-1 py-2 profile-photo-button"
                  >
                    Delete
                  </button>
                </div>
              </div>
              <div class="col-8 d-flex flex-column align-items-center">
                <div class="row justify-content-center m-2 w-100">
                  <input
                    class="nameInput w-100"
                    placeholder="Enter Name"
                    value="<%= user.name %>"
                    id="usernameInput"
                  />
                </div>
                <div class="row justify-content-center m-2 w-100">
                  <textarea
                    class="bioInput w-100"
                    placeholder="Enter your Bio"
                    id="bioInput"
                  >
<%= user.bio %></textarea
                  >
                </div>
              </div>
              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%"
                type="submit"
                name="submit"
                id="upload-btn"
              >
                Save
              </button>
            </div>
            <!-- Social Links -->
            <% if(user.social_links){ %>
            <form
              style="
                width: 100%;
                background-color: #f9fafd;
                padding: 2rem;
                margin: 1rem auto !important;
                border-radius: 2rem;
              "
              id="socialLinkForm"
            >
              <div class="card-header" style="background-color: #f9fafd">
                <h5 class="mb-0">Social Links</h5>
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="instagram"
                  type="text"
                  placeholder="Instagram Link"
                  value="<%= user.social_links.instagram %>"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="facebook"
                  type="text"
                  placeholder="Facebook Link"
                  value="<%= user.social_links.facebook %>"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="twitter"
                  type="text"
                  placeholder="Twitter Link"
                  value="<%= user.social_links.twitter %>"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="tiktok"
                  type="text"
                  placeholder="TikTok Link"
                  value="<%= user.social_links.tiktok %>"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="snapchat"
                  type="text"
                  placeholder="Snapchat Link"
                  value="<%= user.social_links.snapchat %>"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="youtube"
                  type="text"
                  placeholder="Youtube Link"
                  value="<%= user.social_links.youtube %>"
                />
              </div>
              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%"
                type="submit"
                name="submit"
              >
                Save
              </button>
            </form>
            <% } %> <% if (user.custom_link) { %>
            <form
              style="
                width: 100%;
                background-color: #f9fafd;
                padding: 2rem;
                margin: 1rem auto !important;
                border-radius: 2rem;
              "
              id="customLinkForm"
            >
              <div class="card-header" style="background-color: #f9fafd">
                <h5 class="mb-0">Custom Link</h5>
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="url"
                  type="text"
                  placeholder="Custom Link"
                  value="<%= user.custom_link.url %>"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="title"
                  type="text"
                  placeholder="Title"
                  value="<%= user.custom_link.title %>"
                />
              </div>
              <textarea
                class="form-control rounded-sm mb-2"
                id="description"
                rows="3"
                placeholder="Description"
              >
<%= user.custom_link.description %></textarea
              >
              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%"
                type="submit"
                name="submit"
              >
                Save
              </button>
            </form>
            <% } %> <% if(user.custom_text){ %>
            <form
              style="
                width: 100%;
                background-color: #f9fafd;
                padding: 2rem;
                margin: 1rem auto !important;
                border-radius: 2rem;
              "
              id="customTextForm"
            >
              <div class="card-header">
                <h5 class="mb-0">Custom Text</h5>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1"
                  >Add any custom text you wish to display on your page</label
                >
                <textarea class="form-control" id="customText" rows="5">
<%= user.custom_text.text %></textarea
                >
              </div>

              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%"
                type="submit"
                name="submit"
              >
                Save
              </button>
            </form>
            <% } %>
            <form
              style="
                width: 100%;
                background-color: #f9fafd;
                padding: 2rem;
                margin: 1rem auto !important;
                border-radius: 2rem;
              "
              id="videoPreviewForm"
            >
              <div class="card-header" style="background-color: #f9fafd">
                <h5 class="mb-0">Video Preview</h5>
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="vidLink"
                  type="text"
                  placeholder="Video Link"
                  value="<%= user.video_preview.vidLink %>"
                />
              </div>
              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%"
                type="submit"
                name="submit"
              >
                Save
              </button>
            </form>

            <form
              style="
                width: 100%;
                background-color: #f9fafd;
                padding: 2rem;
                margin: 1rem auto !important;
                border-radius: 2rem;
              "
              id="newsLetterForm"
            >
              <div style="margin: 1rem 1.5rem">
                <h5 class="mb-0">Newsletter</h5>
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="newsLetterTitle"
                  type="text"
                  placeholder="Title"
                  value="<%= user.newsletter.title %>"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control rounded-pill"
                  id="btnText"
                  type="text"
                  placeholder="Button Text"
                  value="<%= user.newsletter.btnText %>"
                />
              </div>
              <button
                class="btn btn-primary rounded-pill"
                style="margin: 0 auto; width: 100%"
                type="submit"
                name="submit"
              >
                Save
              </button>
            </form>
          </div>
          <!-- slider to add more blocks -->
          <div
            class="slider_for_boxes"
            style="background-color: #f9fafd; width: 95%; margin: 1rem auto"
          >
            <div class="card-header">
              <h5 style="text-align: center">Add more Blocks</h5>
            </div>
            <div class="wrapper">
              <!-- Контент -->

              <div class="slider">
                <div class="slider__item" style="height: 6.55rem">
                  <div
                    style="
                      background-color: rgb(219, 226, 226);
                      height: 100%;
                      width: 100%;
                      box-shadow: 3px 2px 1px rgba(185, 185, 185, 0.653);
                      display: flex;
                      text-align: center;
                      align-items: center;
                    "
                  >
                    <h4 style="width: 100%">Video Preview</h4>
                  </div>
                  <!-- <img
                    src="https://i.etsystatic.com/9970942/d/il/3eb7fe/1455383965/il_340x270.1455383965_t5ez.jpg?version=0"
                    alt=""
                  /> -->
                </div>
                <div class="slider__item" style="height: 6.55rem">
                  <div
                    style="
                      background-color: rgb(219, 226, 226);
                      height: 100%;
                      width: 100%;
                      box-shadow: 3px 2px 1px rgba(185, 185, 185, 0.653);
                      display: flex;
                      text-align: center;
                      align-items: center;
                    "
                  >
                    <h4 style="width: 100%">Video Preview</h4>
                  </div>
                  <!-- <img
                    src="https://i.etsystatic.com/9970942/d/il/3eb7fe/1455383965/il_340x270.1455383965_t5ez.jpg?version=0"
                    alt=""
                  /> -->
                </div>
                <div class="slider__item" style="height: 6.55rem">
                  <div
                    style="
                      background-color: rgb(219, 226, 226);
                      height: 100%;
                      width: 100%;
                      box-shadow: 3px 2px 1px rgba(185, 185, 185, 0.653);
                      display: flex;
                      text-align: center;
                      align-items: center;
                    "
                  >
                    <h4 style="width: 100%">Newsletter</h4>
                  </div>
                  <!-- <img
                    src="https://i.etsystatic.com/9970942/d/il/3eb7fe/1455383965/il_340x270.1455383965_t5ez.jpg?version=0"
                    alt=""
                  /> -->
                </div>
                <div class="slider__item" style="height: 6.55rem">
                  <div
                    style="
                      background-color: rgb(219, 226, 226);
                      height: 100%;
                      width: 100%;
                      box-shadow: 3px 2px 1px rgba(185, 185, 185, 0.653);
                      display: flex;
                      text-align: center;
                      align-items: center;
                    "
                  >
                    <h4 style="width: 100%">Social Links</h4>
                  </div>
                  <!-- <img
                    src="https://i.etsystatic.com/9970942/d/il/3eb7fe/1455383965/il_340x270.1455383965_t5ez.jpg?version=0"
                    alt=""
                  /> -->
                </div>
                <div class="slider__item" style="height: 6.55rem">
                  <div
                    style="
                      background-color: rgb(219, 226, 226);
                      height: 100%;
                      width: 100%;
                      box-shadow: 3px 2px 1px rgba(185, 185, 185, 0.653);
                      display: flex;
                      text-align: center;
                      align-items: center;
                    "
                  >
                    <h4 style="width: 100%">Link</h4>
                  </div>
                  <!-- <img
                    src="https://i.etsystatic.com/9970942/d/il/3eb7fe/1455383965/il_340x270.1455383965_t5ez.jpg?version=0"
                    alt=""
                  /> -->
                </div>
                <div class="slider__item" style="height: 6.55rem">
                  <div
                    style="
                      background-color: rgb(219, 226, 226);
                      height: 100%;
                      width: 100%;
                      box-shadow: 3px 2px 1px rgba(185, 185, 185, 0.653);
                      display: flex;
                      text-align: center;
                      align-items: center;
                    "
                  >
                    <h4 style="width: 100%">Text</h4>
                  </div>
                  <!-- <img
                    src="https://i.etsystatic.com/9970942/d/il/3eb7fe/1455383965/il_340x270.1455383965_t5ez.jpg?version=0"
                    alt=""
                  /> -->
                </div>
                <div class="slider__item" style="height: 6.55rem">
                  <div
                    style="
                      background-color: rgb(219, 226, 226);
                      height: 100%;
                      width: 100%;
                      box-shadow: 3px 2px 1px rgba(185, 185, 185, 0.653);
                      display: flex;
                      text-align: center;
                      align-items: center;
                    "
                  >
                    <h4 style="width: 100%">Video</h4>
                  </div>
                  <!-- <img
                    src="https://i.etsystatic.com/9970942/d/il/3eb7fe/1455383965/il_340x270.1455383965_t5ez.jpg?version=0"
                    alt=""
                  /> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      $(function () {
        $(".generate-qr").click(function () {
          console.log("hiiiii");
          $(".cover").fadeIn("300");
        });
        $(".cover,.close").click(function () {
          $(".cover").fadeOut("300");
        });
        $(".contents").click(function (e) {
          e.stopPropagation();
        });
      });
    </script>
    <script>
      var myInput = document.getElementById("input_1");
      var myText = document.getElementById("textarea_1");

      var myDiv = document.querySelector(".live");
      var myh2 = document.querySelector(".live h2");
      var myp = document.querySelector(".live p");

      // myInput.onkeyup = function () {
      //   "use strict";
      //   myh2.textContent = this.value;
      // };

      // myText.onkeyup = function () {
      //   "use strict";
      //   myp.textContent = this.value;
      // };
    </script>
    <script src="/js/qr.min.js"></script>
    <script>
      const qrcode = document.getElementById("qrcode");
      const textInput = document.getElementById("text");

      const qr = new QRCode(qrcode);

      textInput.oninput = (e) => {
        qr.makeCode(e.target.value.trim());
      };

      qr.makeCode(textInput.value.trim());
    </script>
    <script>
      $(document).ready(function () {
        $(".slider").slick({
          arrows: true,
          dots: false,
          slidesToShow: 6,
          //   autoplay: true,
          speed: 900,
          autoplaySpeed: 700,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 3,
              },
            },
            {
              breakpoint: 550,
              settings: {
                slidesToShow: 2,
              },
            },
          ],
        });
      });
    </script>
    <script>
      function myFunction() {
        // Get the text field
        var copyText = document.getElementById("myInput-1");
        console.log("copy");
        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        navigator.clipboard.writeText(copyText.value);
      }
    </script>
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $("#userImage").attr("src", e.target.result);
          };

          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="js/profile.js"></script>
  </body>
</html>
